<h1 class="display-4">Welcome to Sails Articles</h1>
<p class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis magnam voluptatibus, nihil rerum, reiciendis illum nostrum aperiam nisi odit harum inventore deleniti? Dolorum, porro sed. Iste, ipsum rerum! Soluta, totam?</p>
<a href="articles/list" class="btn btn-primary">Articles</a>
<a href="articles/add" class="btn btn-primary">Add Article</a>